<ion-content [fullscreen]="true">
  <section class="jumbo">
    <div class="container mainContainer">
      <h2>The Geneology of Things</h2>
      <!-- setting the main cards in the image -->
      <ion-row>
        <!-- start of left card -->
        <ion-col>
          <ion-card>
            <ion-card-header>
              <ion-card-title>Family Item History</ion-card-title>
            </ion-card-header>

            <ion-card-content>
              Keep close to Nature's heart... and break clear away, once in
              awhile, and climb a mountain or spend a week in the woods. Wash
              your spirit clean.
              <ion-card-subtitle>
                <a href="/tabs">
                  <button class="btn app-btn-main">Learn More</button>
                </a>
              </ion-card-subtitle>
            </ion-card-content>
          </ion-card>
        </ion-col>

        <!-- start of right card -->
        <ion-col>
          <ion-card>
            <ion-card-header>
              <ion-card-title>Begin the Memories</ion-card-title>
            </ion-card-header>

            <ion-card-content>
              Keep close to Nature's heart... and break clear away, once in
              awhile, and climb a mountain or spend a week in the woods. Wash
              your spirit clean.
              <router-link to="/tabs"
                ><button class="btn app-btn-second">
                  Sign Up
                </button></router-link
              >
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </div>
  </section>

  <div class="container">
    <!-- top row -->
    <ion-row>
      <ion-col>
        <h2 class="text-center big-text">Here's how it works</h2>
      </ion-col>
    </ion-row>
    <!-- middle estimate row -->
    <ion-row>
      <ion-col>
        <h3 class="medium-text">Save your items</h3>
        <p>
          Skateboard iPhone kitsch umami quinoa deep v. Vice asymmetrical
          snackwave chartreuse thundercats, forage mumblecore VHS brunch hella
          everyday carry subway tile you probably haven't heard of them.
          Crucifix mustache enamel pin blog asymmetrical snackwave chicharrones
          leggings meditation. Copper mug cray normcore narwhal vinyl aesthetic
          umami poutine hot chicken. Tote bag tumblr 90's semiotics twee copper
          mug glossier edison bulb flexitarian photo booth waistcoat bespoke.
          Fashion axe activated charcoal waistcoat gluten-free woke master
          cleanse hashtag heirloom.
        </p>
      </ion-col>
      <ion-col>
        <img
          src="../../assets/imgs/home4.jpg"
          alt="..."
          class="img-thumbnail"
        />
      </ion-col>
    </ion-row>
    <!-- get the work row -->
    <ion-row>
      <ion-col>
        <img src="../../assets/imgs/home.jpg" alt="..." class="img-thumbnail" />
      </ion-col>
      <ion-col>
        <h3 class="medium-text">Invite Family to View Items</h3>
        <p>
          Skateboard iPhone kitsch umami quinoa deep v. Vice asymmetrical
          snackwave chartreuse thundercats, forage mumblecore VHS brunch hella
          everyday carry subway tile you probably haven't heard of them.
          Crucifix mustache enamel pin blog asymmetrical snackwave chicharrones
          leggings meditation. Copper mug cray normcore narwhal vinyl aesthetic
          umami poutine hot chicken. Tote bag tumblr 90's semiotics twee copper
          mug glossier edison bulb flexitarian photo booth waistcoat bespoke.
          Fashion axe activated charcoal waistcoat gluten-free woke master
          cleanse hashtag heirloom.
        </p>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <h3 class="medium-text">Discover the History</h3>
        <p>
          Skateboard iPhone kitsch umami quinoa deep v. Vice asymmetrical
          snackwave chartreuse thundercats, forage mumblecore VHS brunch hella
          everyday carry subway tile you probably haven't heard of them.
          Crucifix mustache enamel pin blog asymmetrical snackwave chicharrones
          leggings meditation. Copper mug cray normcore narwhal vinyl aesthetic
          umami poutine hot chicken. Tote bag tumblr 90's semiotics twee copper
          mug glossier edison bulb flexitarian photo booth waistcoat bespoke.
          Fashion axe activated charcoal waistcoat gluten-free woke master
          cleanse hashtag heirloom.
        </p>
      </ion-col>
      <ion-col>
        <img
          src="../../assets/imgs/home3.jpg"
          alt="..."
          class="img-thumbnail"
        />
      </ion-col>
    </ion-row>
  </div>
</ion-content>
