<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="view-items">
      <ion-icon name="people-outline"></ion-icon>
      <ion-label>Items</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="add-item">
      <ion-icon name="person-add-outline"></ion-icon>
      <ion-label>Add Item</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="photos">
      <ion-icon name="images"></ion-icon>
      <ion-label>Photos</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
